<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <appender name="ChatLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs/" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="'chatlog'_yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%date{dd MMM HH:mm:ss}] %message%newline" />
      </layout>
    </appender>
    <appender name="SLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs/" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="'streamerchatlog'_yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%date{dd MMM HH:mm:ss}] %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs/" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="'errorlog'yyyyMM'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd MMM HH:mm:ss,fff} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
    </root>
    <logger additivity="false" name="ErrorLog">
      <level value="ERROR" />
      <appender-ref ref="ErrorLog" />
    </logger>
    <logger additivity="false" name="ChatLog">
      <level value="INFO" />
      <appender-ref ref="ChatLog" />
    </logger>
    <logger additivity="false" name="SLog">
      <level value="INFO" />
      <appender-ref ref="SLog" />
    </logger>

  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>